<div class="my-3">
    <h2>Take, TakeLast and TakeUntil</h2>
    <br>
      <p class="bg-light d-inline-block py-2 px-3 border rounded">
                Random Names: 'Subarna', 'Bijaya', 'Khadka', 'Hari', 'Khakta', 'Sushila'
            </p>
    <div class="row">
        <div class="col-md-4">
            <strong>Ex-01 | Take(5)</strong>
            <hr>
            <ul id="elContainer1"></ul>
        </div>


         <div class="col-md-4">
            <strong>Ex-02 | TakeLast(5)</strong>
             <hr>
            <ul id="elContainer2"></ul>
        </div>


         <div class="col-md-4">
            <strong>Ex-03 | TakeUntil(5) -- Click anywhere to stop</strong>
             <hr>
            <ul id="elContainer3"></ul>
        </div>
    </div>
</div>