<div class="my-3">
    <h2>Retry, RetryWhen, Scan and Delay</h2>
    <hr>
    <div class="row">
        <div class="col-md-6">
            <table class="table" *ngIf="person">
                <tr>
                    <th>ID</th>
                    <td>{{person.id}}</td>
                </tr>

                <tr>
                    <th>Name</th>
                    <td>{{person.name}}</td>
                </tr>

                <tr>
                    <th>Email</th>
                    <td>{{person.email}}</td>
                </tr>

                <tr>
                    <th>Phone</th>
                    <td>{{person.phone}}</td>
                </tr>

                <tr>
                    <th>Website</th>
                    <td>{{person.website}}</td>
                </tr>
            </table>
        </div>
    </div>

    <button class="btn btn-primary" type="button" (click)="fetchDetails()">
        {{fetching ? 'Fetching...' : 'Fetch Details'}}
    </button>

    <p>
        Status: <strong [ngClass]="{
            'text-success' : status === 'Data Fetched',
            'text-danger' : status === 'Problem fetching data'
        }">{{status}}</strong>
    </p>
    <small>Note: Turn off internet to see the retry, retrywhen and delay in action</small>

</div>
