<div class="my-3">
    <h2>toArray</h2>
    <br>

    <div class="row">
        <div class="col-md-6">
            <strong> Ex-01 (Manual)</strong>
            <hr>
            <ul [ngClass]="techStatus == 'completed'? 'completed' : techStatus == 'error'? 'error':''"
            class="techList" id="elContainer1">
            </ul>
        </div>

        <div class="col-md-6">
            <strong> Ex-02 (Custom Interval)</strong>
            <hr>
            <ul [ngClass]="techStatus2 == 'completed'? 'completed' : techStatus2 == 'error'? 'error':''"
            class="techList" id="elContainer2"></ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <br>
            <strong>Ex-03 (Random Names)</strong>
            <p class="bg-light py-2 px-3 border rounded">
                <strong>Random Name: </strong>
                'John', 'Shekhar', 'Sharma', 'UX', 'Johny'
            </p>
            <hr>
            <p>Current Name: <strong class="text-success">{{names}}</strong></p>
            <span class="badge"
            [ngClass]="nameStatus == 'completed' ? 'badge-success' : nameStatus == 'error' ? 'badge-danger': 'badge-primary'">
            {{nameStatus == 'completed' ? 'Success' : nameStatus == 'error' ? 'Error': 'Running'}}</span>
        </div>
    </div>
</div>
