<div class="row">
    <div class="col-md-12">
        <ul class="list">
            <li>
                <a routerLink="fromEvent">From</a>
            </li>
            <li>
                <a routerLink="interval">Interval</a>
            </li>
            <li>
                <a routerLink="of-from">Of/From</a>
            </li>
            <li>
                <a routerLink="to-array">To Array</a>
            </li>
            <li>
                <a routerLink="custom">Custom Observable</a>
            </li>
            <li>
                <a routerLink="map">Map</a>
            </li>
            <li>
                <a routerLink="pluck">Pluck</a>
            </li>
             <li>
                <a routerLink="filter">Filter</a>
            </li>
            <li>
                <a routerLink="tap">Tap</a>
            </li> 
            <li>
                <a routerLink="take">Take, TakeLast and TakeUntil</a>
            </li>
            <li>
                <a routerLink="retry">Retry, RetryWhen, Scan and Delay</a>
            </li>
            <li>
                <a routerLink="debounce-time">Debounce Time</a>
            </li>
            <li>
                <a routerLink="subject">Subject and Behavior Subject</a>
            </li>
            <li>
                <a routerLink="replay-subject">Replay Subject</a>
            </li>
            <li>
                <a routerLink="async-subject">Async Subject</a>
            </li>
        </ul>
    </div>
</div>
