<div class="row">
    <div class="col-md-12">
        <ul class="list">
            <li>
                <a routerLink="fromEvent">From</a>
            </li>
            <li>
                <a routerLink="interval">Interval</a>
            </li>
            <li>
                <a routerLink="of-from">Of/From</a>
            </li>
            <li>
                <a routerLink="to-array">To Array</a>
            </li>
            <li>
                <a routerLink="custom">Custom Observable</a>
            </li>
            <li>
                <a routerLink="map">Map</a>
            </li>
            <li>
                <a routerLink="pluck">Pluck</a>
            </li>
             <li>
                <a routerLink="filter">Filter</a>
            </li>
            <li>
                <a routerLink="tap">Tap</a>
            </li> 
            <li>
                <a routerLink="take">Take</a>
            </li>
        </ul>
    </div>
</div>
