<div class="my-3">
    <h2>Merge</h2>
    <br>

    <div class="row">
        <div class="col-md-4">
            <strong>Ex-01 | Tech Channel(5)</strong>
            <hr>
            <p class="bg-light py-2 px-3 border rounded">
                <strong>Tech Video List: </strong>1,2,3,4,5
            </p>
            <br>
        </div>

           <div class="col-md-4">
            <strong>Ex-02 | Comedy Channel(3)</strong>
            <hr>
            <p class="bg-light py-2 px-3 border rounded">
                <strong>Comedy Video List: </strong>1,2,3,4,5
            </p>
        </div>

          <div class="col-md-4">
            <strong>Ex-03 | News Channel(4)</strong>
            <hr>
            <p class="bg-light py-2 px-3 border rounded">
                <strong>News Video List: </strong>1,2,3,4,5
            </p>
            <br>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">Your Channel (Subscriber)</div>
                <div class="card-body">
                    <ul id="elContainer"></ul>
                </div>
            </div>
        </div>
    </div>
</div>
