<div class="row">
    <div class="col-md-4">
        <strong>Ex - 01 : With Promise</strong>
        <hr />
        <button class="btn btn-primary" (click)="fetch1()">Buy Laptop</button>
        <hr />
        <div #result1>Data</div>
    </div>

    <div class="col-md-4">
        <strong>Ex - 02 : With Async/ Await</strong>
        <hr />
        <button class="btn btn-primary" (click)="fetch2()">Buy Laptop</button>
        <hr />
        <div #result2>Data</div>
    </div>

    <div class="col-md-4">
        <strong>Ex - 01 : With Fetch API</strong>
        <hr />
        <button class="btn btn-primary" (click)="fetch3()">Buy Laptop</button>
        <hr />
        <div #result3>Data</div>
    </div>
</div>