<div class="my-3">
    <h2>Of From</h2>
    <br>
    <strong>Ex-01 Of</strong>

    <div class="row">
        <div class="col-md-6">
            <p class="border bg-light rounded py-2 px-3">
                <strong>Data: </strong>of('Subarna', 'Bijay','Khadka')
            </p>
            <hr>
            <ul id='elContainer'></ul>
        </div>

            <div class="col-md-6">
            <p class="border bg-light rounded py-2 px-3">
                <strong>Data: </strong>of(&#123;firstName: 'Subarna', middleName: 'Bijay', lastName: 'Khadka'&#125;)
            </p>
            <hr>
            <ul>
                <li><strong>First Name: </strong>{{obsMsg.firstName}}</li>
                <li><strong>Middle Name: </strong>{{obsMsg.middleName}}</li>
                <li><strong>Last Name: </strong>{{obsMsg.lastName}}</li>
            </ul>
        </div>
    </div>

    <br>
    <strong>Ex-02 From</strong>
    <div class="row">
        <div class="col-md-4">
            <strong>Array</strong>
            <p class="border bg-light rounded py-2 px-3">
                <strong>Data: </strong>from(['Hari', 'Bhakta','Khadka'])
            </p>
            <hr>
            <ul id='elContainer3'></ul>
        </div>

           <div class="col-md-4">
            <strong>Promise</strong>
            <p class="border bg-light rounded py-2 px-3">
                <strong>Data: </strong>Promise to observable
            </p>
            <hr>
            <ul id='elContainer4'></ul>
        </div>

             <div class="col-md-4">
            <strong>String</strong>
            <p class="border bg-light rounded py-2 px-3">
                <strong>Data: </strong>String to observable
            </p>
            <hr>
            <ul id='elContainer5'></ul>
        </div>
    </div>

 
</div>
