<div class="my-3">
    <h2>Map</h2>
    <br>

    <div class="row">
        <div class="col-md-4">
            <strong>Ex-01</strong>
            <hr>
            <p class="bg-light py-2 px-3 border rounded">
                <strong>Map: </strong>'Video' + data
            </p>
            <br>
            <p>Message <strong class="text-success">{{msg1}}</strong></p>
        </div>

           <div class="col-md-4">
            <strong>Ex-02</strong>
            <hr>
            <p class="bg-light py-2 px-3 border rounded">
                <strong>Map: </strong>data * 10
            </p>
            <br>
            <p>Message <strong class="text-success">{{msg2}}</strong></p>
        </div>

          <div class="col-md-4">
            <strong>Ex-03</strong>
            <hr>
            <p class="bg-light py-2 px-3 border rounded">
                <strong>Map: </strong>Map object data
            </p>
            <br>
            <ul id="elContainer"></ul>
        </div>
    </div>
</div>